/* CSS Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

/* Custom Text Color */
:root{
	--color-yellow: #f0b30f;
	--color-dim: #36474F;
}

.custom-bg-color-dim {
	background-color: var(--color-dim);
}


.theme-text{
	color: var(--color-yellow);
}

.navbar-brand {
	color: var(--color-yellow) !important;
}

.act {
	color: var(--color-yellow) !important;
	border-bottom: 1px solid var(--color-yellow);
}/* change the active class in bootstrap */

.navbar ul li a:hover{
	color: var(--color-yellow) !important;
	border-bottom: 1px solid var(--color-yellow);
}


section {
	padding: 60px 60px;
	overflow: hidden;
}

/* Landing Section CSS */
#landing {
/*	padding: 60px 0;*/
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/bg/bg2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#landing .container {
	padding-top: 80px !important;
}

#landing h1 {
	font-size: 50px;
	font-weight: 700;
	line-height: 60px;
	color: #fff;
	margin: 0 0 10px 0;
}

#landing h2 {
	font-size: 20px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;

	letter-spacing: 0.5px;

	text-transform: uppercase;
	
	color: #eee;
	margin-bottom: 40px;

}

#landing .btn_get_started{
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;

	letter-spacing: 1px;

	display: inline-block;
	
	padding: 8px 28px;
	margin: 10px;

	border: 2px solid #fff;
	border-radius: 50px;

	color: #fff;
	background-color: transparent;
	
	transition: 0.6s all;
}

#landing .btn_get_started:hover{
	 background-color: #009970;
	 border: 2px solid #fff;
}

/* About */

/* Projects */

/* Tools */

/* Contacts */
#flt_textarea {
	height: 200px
}

div > h3 ~ p {
	display: inline-block;
	padding: 1rem;
}

section > div > h2 {
	text-decoration: underline;
}

section > div > h2:hover {
	color: var(--color-yellow);
}
