@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Content */
.margin-from-navbar {
	margin-top: 105px;
}

.content-height {
	max-height: 200rem;
}
.content-bg {
	background-color: #F8F9FA !important;
	padding: 0;
}
.container-bg {
	background-color: #fff !important;
	padding: 0 0 0 0;
}

/* Login Page */
.form-container {
	max-width: 370px;
	margin: 0 auto 0;
	font-family: 'Roboto', sans-serif;
}

.form-container-group {
	border: 1px solid #e9e9e9;
	padding: 20px;
}

#firstName,
#lastName,
#contactNo,
#email,
#password,
#retypePassword,
#btn-login,
#btn-signup
 {
	border-radius: 0;
}

#btn-login, #btn-signup {
	background-color: #FF6B00 !important;
	border: none;
}

#btn-login:hover,
#btn-signup:hover {
	background-color: #ff8024 !important;
	color: #fff;
}

form > div .label-size {
	font-size: 14px;
}

form > div .label-size {
	font-size: 14px;
}

/* End of CSS Login Page */


.vh-75{
	min-height: 75vh;
}

.vr{
	background-color: white !important;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

/* Navbar */

/* Navbar background color */
.navbar-1{
background-color: #4F4F4F !important;
}

.navbar-2 {
	margin-top: 56px !important;
	background-color: #ffffff;
	/* background-color: red; */
	padding: 0;
}

.search-container {
	width: 100%;
}

.search-component {
	width: 65%;
	/* max-width: 500px; */
	padding: 0px 10px 0px;
}

#search-bar {
	background-color: #F5F5F5;
	border: 0px;
	border-radius: 0 !important;
}

#search-button {
	background-color: #F6432E;
	border: 0px;
	border-radius: 0 !important;
	font-weight: bold;
}
/* Navbar CSS End*/

.product-name {
	max-height: 10px;
}

.border-none {
	border: 0;
	border-radius: 0;
	font-size: 16px	;
}

/*box-shadow: height-offset vertical-offset blur-intensity shadow-spread shodow-color*/
.card-hover:hover{
    box-shadow: 2px 2px 3px 2px #D9D9D9;
    transform: translateY(-1px);
    transition: 0.3s;
}

.category-bg{
	background-color: #EBEDF6 !important;
}

/*split text into 2 lines then truncate*/
.truncate-text-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
/*  width: 250px;*/
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.product-img {
	width: 100%;
	height: 16vh;
	object-fit: fill;
}

.product-price {
	color: #F6432E;
	font-family: 'Roboto', sans-serif;
}

/* Quantity Number Spinner */
.qty-container {
	/* background-color: #4F4F4F; */
	padding: 1rem 0;
	min-width: 105px;

}
.input-qty {
	/* text-align: center; */
	box-shadow: none;
}

.button-qty {
	background-color: #F6432E !important;
}

.button-qty:hover {
	background-color: #fdbd5d !important;
}

input[type="number"]{
    width: 100%;
    font-size: 13px;
    outline: none;
	text-align: center;
    /* -moz-appearance: textfield; */
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}



/* Product View */
.product-view-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 20px;
}

.product-view-price {
	font-family: 'Roboto', sans-serif;
	color: #F6432E;
	font-size: 30px;
}

.btn-buy,
.btn-add-cart {
	color: #fff;
	border-radius: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.btn-buy {
	background-color: #FF6B00 !important;
}

.btn-add-cart {
	background-color: #ff9900 !important;
}

.btn-buy:hover {
	background-color: #ff9448 !important;
	color: #fff;
}

.btn-add-cart:hover {
	background-color: #fdbd5d !important;
	color: #fff;
}

/*Footer Style*/
.footer-container {
	font-family: 'Poppins', sans-serif;
	background-color: #ffffff !important;
	padding: 30px 0px;
	margin-top: 10px;
}

.footer-container > div > div > div > p {
	margin: 0;
	padding: 0;
}

.footer-container > div > div > div > p a,
.footer-container > div > div > div > div a {
	text-decoration: none;
	color: black;
}

.footer-container > div > div > div > p a:hover,
.footer-container > div > div > div > div a:hover {
	color: orange;
}

.footer-top-title {
	font-size: 14px;
	font-weight: bold;
}

.footer-top-text {
	font-size: 12px;
}

.footer-bottom-text {
	font-size: 14px;
	color: grey;
}


/* Cart Page */

.cart-container{
	height: 100%;
}

.scroll-y-container {
	height: 80vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

.cart-title {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.cart-product-name{
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
  /*  width: 250px;*/
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 13px;
}

.btn-container-cart {
	/* background-color: #4F4F4F; */
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn{
	border: 0;
	border-radius: 0;
	background-color: white;
	font-size: 12px;
}

.btn-delete{
	color: #ff0000;
	/* background-color: #ff0000; */
	font-size: 15px;
	margin: 0;
	padding: 0;
}

.btn-checkout{
	color: #FF6B00;
	/* background-color: #FF6B00; */
}

.btn-checkout:hover,
.btn-delete:hover {
	background-color: #FF6B00;
	
}